table {
  width: 90%;
  margin: 0 auto;
  .mat-header-row{
    background-color: blueviolet !important;
    .mat-header-cell{
      color: aliceblue !important;
    }
  }
  .mat-row{
    background-color: ghostwhite !important;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
}

.cursor-pointer{
  cursor: pointer;
}
